fastapi
passlib
fastapi-jwt-auth
pydantic
datetime
logging
aiofiles
sentence-transformers
pinecone
openai
csv
PyPDF2
python-dotenv
transformers
uvicorn
python-multipart
torch
pinecone-client
numpy
scikit-learn
pyjwt


